{
  "parser": "@babel/eslint-parser",
  "extends": [
    "@folio/eslint-config-stripes",
    "plugin:vitest/recommended"
  ],
  "plugins": ["vitest"],
  "rules": {
    "vitest/prefer-to-be": ["off"]
  }
}
